<div class="home">
    <a href="/create">
        <h1>Create</h1>
    </a>
    {{#if expenses}}
    <form action="/expense/search" method="get">
        <select class="form-select my-4 h-100" name="type">
            <option value='All'>All</option>
            {{#each type}}
            <option value={{this}}>{{this}}</option>
            {{/each}}
        </select>
        <button type="submit" class="btn btn-primary">Lọc</button>
    </form>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Price</th>
                <th scope="col">Type</th>
                <th scope="col">Update</th>
                <th scope="col">Delete</th>
            </tr>
        </thead>
        <tbody>
            {{#each expenses}}
            <tr>
                <th scope="row">{{sum @index 1}}</th>
                <td>{{this.name}}</td>
                <td>{{price this.price}}đ</td>
                <td>{{this.type}}</td>
                <td>
                    <a href="/update/{{this._id}}">
                        <i class="fa-solid fa-pen"></i>
                    </a>
                </td>
                <td>
                    <a href="/expense/delete/{{this._id}}">
                        <i class="fa-solid fa-trash"></i>
                    </a>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
    <h1>Total: {{total expenses}}đ</h1>
    {{else}}
    &nbsp;
    <h2>Chưa có expense nào.</h2>
    {{/if}}
</div>