<div class="home">
    <div class="row d-flex align-items-center justify-content-between px-4">
        <a href="/create">
            <button type="button" class="btn btn-primary my-4 px-4">Thêm chi tiêu</button>
        </a>
        {{#if expenses}}
        <form action="/expense/search" method="get">
            <select class="form-select px-4 py-1" name="type">
                <option value='All'>All</option>
                {{#each type}}
                <option value={{this}}>{{this}}</option>
                {{/each}}
            </select>
            <button type="submit" class="btn btn-primary">Lọc</button>
        </form>
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Price</th>
                <th scope="col">Type</th>
                <th scope="col">Time</th>
                <th scope="col">Update</th>
                <th scope="col">Delete</th>
            </tr>
        </thead>
        <tbody>
            {{#each expenses}}
            <tr>
                <th scope="row">{{sum @index 1}}</th>
                <td>{{this.name}}</td>
                <td>{{price this.price}}đ</td>
                <td>{{this.type}}</td>
                <td>{{time this.createdAt}}</td>
                <td>
                    <a href="/update/{{this._id}}">
                        <i class="fa-solid fa-pen"></i>
                    </a>
                </td>
                <td>
                    <a href="/expense/delete/{{this._id}}">
                        <i class="fa-solid fa-trash"></i>
                    </a>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
    <h2 class="text-center m-4">Total: {{total expenses}}đ</h2>
    {{else}}
    &nbsp;
    <h2>Chưa có expense nào.</h2>
    {{/if}}
</div>